.activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid orange;
    background-color: rgb(9, 126, 165)210, 228)
  }
  
  .activity{
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
      background-color: rgb(9, 126, 165)210, 228)
  }

  .ActivityForm{
    border: 2px solid blue;
    margin: 1em;
    padding: 1em;
    font-size:medium;
    font-weight: bold;
    background:lightblue;
  }

  .activity{
    background: rgb(122, 229, 236);
  }

  .button{
    background-color: rgb(117, 117, 226);
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  
  }

  