.kids{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid orange;
    background-color: rgb(9, 126, 165)210, 228)
  }
  
  .kid{
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
      background-color: rgb(9, 126, 165)210, 228)
  }