.kids{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid dodgerblue;
    border-radius: 15px 15px;
    background: rgb(250, 89, 116)
}
  
  .kid{
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      font-size: large;
      border: 1px solid dodgerblue;
      background: rgb(250, 212, 142)
     }