.users{
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    justify-content: space-between;
    border: 1px solid dodgerblue;
    border-radius: 10px 10px;
    background: rgb(250, 212, 142)
  }
  
  .user{
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      background-color: rgb(122, 229, 236);
      border: 1px solid dodgerblue;
    }

    .parents{
      display: flex;
      flex-wrap: wrap;
      margin: 1em;
      padding: 1em;
      justify-content: space-between;
      font-size:x-large;
      font-weight: bold;
      font-style: italic;
     
      
    }

    .userForm{
      border: 2px solid blue;
      margin: 2em;
      padding: 2em;
      font-size:medium;
      font-weight: bold;
      font-style: italic;
      background: pink
    }

    .button{
      background-color: rgb(106, 211, 20);
      border: none;
      /* color: white; */
      padding: 10px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 2px 1px;
      cursor: pointer;
    }

    .button1{
      background-color: rgb(117, 117, 226);
      padding: 5px 10px;
      text-align: center;
      font-size: 26px;
      cursor: pointer;
    }